* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f172a;
  color: white;
}

header {
  background: black;
  padding: 10px 8%;
  position: sticky;
  top: 0;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: cyan;
}

.hero {
  padding: 100px 8%;
  text-align: center;
}
.hero button {
  padding: 10px 20px;
  background: cyan;
  border: none;
  cursor: pointer;
}

.section {
  padding: 60px 8%;
}

.cards {
  display: flex;
  gap: 20px;
}

.card {
  background: black;
  padding: 20px;
  border-radius: 10px;
}
input, textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

footer {
  text-align: center;
  padding: 15px;
  background: black;
}
